body {
     	font-family: 'Roboto Mono', monospace;
     	padding: 0;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        color: white;
        background: url("bg2.jpg") no-repeat fixed center center;
		background-size: cover;
    }

img{
	text-align: center;
} 

h1 {
    padding-top: 5px;
}

h2 { 
    font-size: 1em;    
}

button{
    font-family: 'Roboto Mono', monospace;
	color: #66ff66;
    padding: 6px;
    font-size: 1.5em;
	background-color: #BEBEBE;
	border-radius: 20px;
	border: solid silver;
    width:25%;
    margin-left:37.5%;
        margin-right:37.5%;
}

canvas{
    border-radius: 40%;
}