body {
	font-family: Helvetica, sans-serif;
	line-height:1.45;
	margin:0;
	font-size:18px;
}
#container {
	width: 500px;
	margin: 1em auto;
	padding: 1em;
	border: 1px solid green;
	border-radius: 0.5em;
}
h1, h2 {
	color:green;
	font-weight:normal;
}
a, a:visited { 
	color: aquamarine;
}
a:hover { color: blue; }

label {
	display:inline-block;
	padding: 0.25em;
}
input { 
	font-size:1em;
	width:2em;
	padding: 0.25em;
	border: 1px solid green;
	border-radius: 0.5em;
}
.add input {
	width: 400px;
	margin: 1em 0;
}