@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill');
body {
	margin: 0;
	overflow: hidden;
}

button {
	font-family: "Hanalei Fill", sans-serif;
	font-size: 1.5em;
	background-color: lightblue;
	color: white;
	border-color: blue lightblue aqua;
	margin: 0.25em;
}

.interface {
	color: purple;
}

div {
	font-size: 2em;
	font-family: monospace;
}

input[type="range"] {
	zoom: 2;
}





