@import url('https://fonts.googleapis.com/css?family=Caveat:700|Open+Sans');
body{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 1.3em;
    background-image: url("../bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*logo and image on top of the screen*/
#logo{
    max-width: 500px;
}
/*white backgrounds*/
#whiteBg{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#semiWhiteBg{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(256,256,256, 0.6);
}
/*instructions*/
h5{
    font-family: 'Caveat', cursive;
    font-size: 1.1em;
    margin-top: 0px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
/*input text*/
:focus{outline: none;
}
input[type="text"]{
    font: 15px/24px 'Muli', sans-serif; 
    color: #333; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
}

:focus{outline: none;}

.inputQ{
    float: left; 
    width: 45%; 
    margin: 5px 3% 5px 10%; 
    position: relative;
} 
input[type="text"]{
    font: 15px/24px "Lato", Arial, sans-serif; 
    color: #333; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
}
.effect-1{
    border: 0; 
    padding: 7px 0; 
    border-bottom: 1px solid #ccc;
}
.effect-1 ~ .focus-border{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: 2px; 
    background-color: #0db9bf; 
    transition: 0.4s;}
.effect-1:focus ~ .focus-border{
    width: 100%; 
    transition: 0.4s;
}

/*buttons*/
button {
  background: #0ffa55;
  background-image: -webkit-linear-gradient(top, #0ffa55, #0b9c28);
  background-image: -moz-linear-gradient(top, #0ffa55, #0b9c28);
  background-image: -ms-linear-gradient(top, #0ffa55, #0b9c28);
  background-image: -o-linear-gradient(top, #0ffa55, #0b9c28);
  background-image: linear-gradient(to bottom, #0ffa55, #0b9c28);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: "Lato", Arial, sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 10px;
    width: 80px;
}
button:hover {
  background: #3cfccc;
  background-image: -webkit-linear-gradient(top, #3cfccc, #0f9ea3);
  background-image: -moz-linear-gradient(top, #3cfccc, #0f9ea3);
  background-image: -ms-linear-gradient(top, #3cfccc, #0f9ea3);
  background-image: -o-linear-gradient(top, #3cfccc, #0f9ea3);
  background-image: linear-gradient(to bottom, #3cfccc, #0f9ea3);
  text-decoration: none;
}
#retryBtn{
    margin-bottom: 30px;
    width: 120px;
}
/*footer*/
.footer {
    text-align: center;
    background-color: rgb(256,256,256);
    padding-bottom: 5px;
    padding-top: 2px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    font-family: "Lato", Arial, sans-serif;
    font-size: 14px;
    color: #565656; 
}
/*text results*/
#result2{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
