<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link  href="{{site.url}}{{site.baseurl}}/slides/css/slides.css" type="text/css"  rel="stylesheet">
<link  href="{{site.url}}{{site.baseurl}}/slides/highlight/github-gist.css" rel="stylesheet"  type="text/css" />
<script src="{{site.url}}{{site.baseurl}}/slides/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{{site.url}}{{site.baseurl}}/slides/lib/jquery-1.12.3.min.js"></script>