/* stylesheet */
body {
	font-family: Helvetica, Arial, sans-serif;
	background: lightblue;
	margin:0;
	line-height: 1.45;
	font-size:20px;
}
#container {
	max-width: 760px;
	margin: 0 auto;
}
h1 { 
	color: blue; 
	font-weight: 200;
}
p, ul { color: white; }
img { width: 200px; }

a { 
	color: black; 
	text-decoration: none;
	transition: color 500ms;
}
a:hover { color: green; }

ul {
	list-style: none;
	padding:0;
	color:black;
}
ul li {
	display:inline-block;
	margin-right:1em;
	position:relative;
}

ul li ul {
	display:none;
	position:absolute;
	left:0;
}

ul li:hover ul {
	display:inline-block;
}