body {
    background-color:lightblue;
    font-family: Helvetica, sans-serif;
    line-height:1.45;
    font-size:24px;
}
* { box-sizing: border-box }

h1 { 
    color: blue; 
    font-weight:200;
}

p { color: white; }
a, li { color: black; }
a:hover { color: lightseagreen; }

img { width: 200px; }

ul {
    list-style: none;
    padding:0;
}
ul li {
    font-size:0.8em;
    display:inline-block;
    width:49%;
    position: relative;
}

ul li ul {
    display:none;
    position:absolute;
    top:1.2em;
    left:0;
}
ul li ul li {
    display:block;
    width:100%;
}
ul li:hover ul {
    display: inline-block;
}