body{
    background: black;
}

h1, h4{
    text-align: center;
    color: rgb(129, 184, 232);
    font-family: fantasy;
}

#countdown{
    border-style: dashed;
    text-align: center;
    border-color: rgb(129, 184, 232);
    font-size: 40px;
    font-family:fantasy;
    padding: 10px;
    background: rgb(13, 84, 198);
}

